@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body > * {
  overflow-x: hidden;
}

.spinner {
  width: 56px;
  height: 56px;
  display: grid;
  border: 4.5px solid #0000;
  border-radius: 50%;
  border-color: #4f4f4f #0000;
  animation: spinner-e04l1k 1s infinite linear;
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  margin: 2.2px;
  border: inherit;
  border-radius: 50%;
}

.spinner::before {
  border-color: #be0000 #0000;
  animation: inherit;
  animation-duration: 0.5s;
  animation-direction: reverse;
}

.spinner::after {
  margin: 8.9px;
}

@keyframes spinner-e04l1k {
  100% {
    transform: rotate(1turn);
  }
}

.flex-horizontal-vertical {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-vertical {
  display: flex;
  align-items: center;
}

.flex-horizontal {
  display: flex;
  justify-content: center;
}

.pokeimage {
  filter: drop-shadow(8px 8px 10px rgb(101, 101, 101));
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  transition: all 0.3s ease;
}

.shadow:hover {
  transform: scale(1.15);
}

.contact-image {
  min-width: 300px;
  min-height: 300px;
}

@media (max-width: 900px) {
  .shadow:hover {
    transform: scale(1.06);
  }
}

@media (max-width: 450px) {
  .tdy-poke-ablty {
    align-items: start;
  }
}
